.widget {
    margin: 0 auto;
    border-radius: 8px;
        padding: 100px 88px;
        width: 345px;
        height: 280px;
        background: #fff;
        padding: 100px 88px;
}
.text-area {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
        margin-bottom: 16px;
}
.change-color {
border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
background: #4e75ff;
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}
